.headerarea{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    
    
}
.listitem {
    display: inline-block;
    margin: 5px 20px;
    padding-top: 55px;
}

.lists {
    text-decoration: none;
   /*  color:#68bfe2;  */
    color: #fff; 
   font-weight: 700; 
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid{
    font-weight: 400;
    color: inherit;
}
.text{
    font-family: 'Carattere', cursive;
   font-weight: 500;
    font-size: 4.5rem;
    font-style:normal; 
    position:absolute;
    color: #fff;
    top: 50%; 
   padding-left: 35%;  
   
    
}

